@model ClassInsertVM 
@{
    ViewData["Title"] = "AddClass";
}

<h1>AddClass</h1>

<form asp-controller="Class" asp-action="AddClass" method="post">
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Sınıf Adı</label>
        <div class="col-sm-10">
            <input type="text" asp-for="Name" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Kapasite</label>
        <div class="col-sm-10">
            <input type="text" asp-for="Capacity" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Başlama Tarihi</label>
        <div class="col-sm-10">
            <input asp-for="StartedDate" class="form-control" type="date" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Bitiş Tarihi</label>
        <div class="col-sm-10">
            <input asp-for="EndDate" class="form-control" type="date" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Sınıf Ekle</button>
</form>